<h3 class="widget-box--header" id="my-plugin-block">
  <%= op_icon('icon-context icon-cart') %>
  <span class="widget-box--header-title"><%= t(:my_plugin_name) %></span>
</h3>

<p class="widget-box--additional-info">Create accounts easily.</p>

<ul class="widget-box--arrow-links">
  <li>
    <%= link_to t(:label_accountcreator), accountcreators_path, title: t(:label_accountcreator) %>
  </li>
</ul>

